@model MVC_BugTracker.Models.RotationShift


<form asp-action="Edit">
    <div class="form-group">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CompanyId" type="hidden"/>
        <label asp-for="Shift_type"></label>
        <input asp-for="Shift_type" class="form-control" required/>
        <span asp-validation-for="Shift_type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartTime"></label>
        <input asp-for="StartTime" class="form-control" required/>
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndTime"></label>
        <input asp-for="EndTime" class="form-control" required/>
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<a asp-action="AllShift">Back to List</a>

<script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            event.preventDefault();

            var form = $(this);

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function (result) {
                    
                    if (result.success) {
                        // Success
                        Swal.fire({
                            title: 'Success',
                            text: result.message,
                            icon: 'success',
                            // timer: 3000,
                        }).then(function () {
                            // Redirect or perform other actions after success
                            window.location.href = result.url;
                        });
                    } else {
                        // Error
                        Swal.fire({
                            title: 'Error',
                            text: result.errors,
                            icon: 'error',
                        });
                    }
                },
                error: function () {
                    // Handle AJAX error here
                }
            });
        });
    });
</script>